.canvas {
    background-color: #E5E5E5;
    width: 100vw;
    height: 100vh;
}

.row {
    display: table-row;
}
.col{
    display: table-cell;
    background-color: #FFFFFF;
    border: 1px solid #E5E5E5;
    width: 15px;
    height: 15px;
}

.color-pallet{
    margin: 5px;
    border-radius: 5%;
    border: 5px solid black;
    height: 50px;
    width: 50px;
}
button{
    border-radius: 10px;
    margin: 5px;
    margin-bottom: 8px;
    height: 50px;
    width: 100px;  
}

input{
    margin-bottom: 8px;
    margin: 5px;
    border-radius: 10px;
    height: 25px;
    width: 150px;  
   
}

